.added-to-cart-message {
    background-color: #F24C3D;
    color: white;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 12px;
    text-align: center;
    width: 450px;
    margin-left: 770px;
    height: 55px;
    opacity: 75%;
    border-radius: 10px;
    position: absolute;
    margin-top: 250px;
    font-weight: bold;
    z-index: 9999;
    font-size: 18px;
}

.navbar {
   background-color: #64CCC5;
   height: 910px;
   width: 120px;
   position: absolute;
   border-radius: 10px;
   opacity: 80%;
}

.elements-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 920px;
    text-align: center;
}

#home-icon {
    margin-right: 7px;
    font-size: 26px;
}

#cart-icon {
    margin-right: 7px;
    font-size: 26px;
}

#admin-icon {
    margin-right: 7px;
    font-size: 26px;
}

#home-btn {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#btn-cart {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#btn-admin {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


